.idea
.vscode
*/.DS_Store
static/uploadfile
k2.exe
k2
temp/
!temp
vendor
config/settings.dev.yml
config/settings.dev.*.yml
config/settings.dev.*.yml.log
temp/logs
config/settings.dev.yml.log
config/settings.b.dev.yml
go.sum
/examples/q.bat
/examples/examples.exe
