/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #FFBA00;
$--color-danger: #ff4949;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border:1px solid#dfe6ec;

// el-description override
$--descriptions-header-margin-bottom: 8px !default;
$--descriptions-title-font-size: 15px !default;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}


@include b(table) {

  @include m(medium) {
    .el-table__cell {
      padding: 5px 0;
    }
  }

  @include m(small) {
    font-size: 12px;
    .el-table__cell {
      padding: 4px 0;
    }
  }

  @include m(mini) {
    font-size: 12px;
    .el-table__cell {
      padding: 2px 0;
    }
  }
}

// dialog
// header padding -> 20px -> 15px 20px & background color
// body padding -> 30px 20px -> 20px
@include b(dialog) {
  @include e(header) {
    padding: ($--dialog-padding-primary - 5px) $--dialog-padding-primary;
    background: #e3eaed;
  }

  @include e(body) {
    padding: $--dialog-padding-primary;
  }
}

// drawer
// header padding -> 20px -> 15px 20px & background color
// mb -> 32px -> 10px
@include b(drawer) {
  &__header {
    margin-bottom: 10px;
    padding: ($--dialog-padding-primary - 5px) $--dialog-padding-primary;
    background: #e3eaed;
  }
}

// messagebox
@include b(message-box) {
  @include e(header) {
    background: #e3eaed;
  }
}

// label-top padding bottom 10px -> 1px
@include b(form) {
  @include m(label-top) {
    & .el-form-item__label {
      padding: 0 0 1px 0;
    }
  }
}

@include b(form-item) {

  @include m(medium) {
    .el-form-item__label {
      line-height: 36px;
    }
    .el-form-item__content {
      line-height: 36px;
    }
    &.el-form-item {
      margin-bottom: 12px;
    }
    .el-form-item__error {
      padding-top: 1px;
    }
  }
  @include m(small) {
    .el-form-item__label {
      line-height: 32px;
    }
    .el-form-item__content {
      line-height: 32px;
    }
    &.el-form-item {
      margin-bottom: 12px;
    }
    .el-form-item__error {
      padding-top: 1px;
    }
  }
  @include m(mini) {
    .el-form-item__label {
      line-height: 28px;
    }
    .el-form-item__content {
      line-height: 28px;
    }
    &.el-form-item {
      margin-bottom: 12px;
    }
    .el-form-item__error {
      padding-top: 1px;
    }
  }
}

@include b(input-number) {
  width: auto;
}
